[submodule "fzgpu"]
	path = fzgpu
	url = https://github.com/shixun404/FZ-GPU.git
[submodule "SZx"]
	path = szx-cuda
	url = https://github.com/szcompressor/SZx
[submodule "cuszp"]
	path = cuszp
	url = https://github.com/shixun404/cuSZp
[submodule "cuzfp"]
	path = zfp-cuda_upstream
	url = https://github.com/LLNL/zfp.git
[submodule "qcat"]
	path = analyzer
	url = https://github.com/szcompressor/qcat.git
[submodule "zfp-cuda_patched"]
	path = zfp-cuda_patched
	url = https://github.com/robertu94/zfp.git
